body {
    background-image:  url(img/bg.jpg);
    padding: 0 300px 0 300px;
    box-sizing: border-box;
    font-family: Helvetica, Arial, "Times New Roman", sans-serif;
}
.header {
    margin: 0;
    min-width: 980px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 0 5px 20px;
    text-transform: uppercase;
    box-shadow: 0 15px 25px rgb(0,0,0,0.2);
}
.work {
    color: rgb(99, 136, 216);
    width: 100%;
    margin: 20px 0 20px 0;
    background-color:  #fefced;
    min-width: 1000px;
    min-height: 1000px;
    box-shadow: 0 35px 55px rgb(0,0,0,0.2);
}
.work img {
    padding: 20px 20px 20px 20px;
    height: 300px;
    display:  block;
    background-position:  center;
}
.work2 img {
    width: 500px;
    height: 834px;
}
.nav {
    padding-left: 0;
    margin: 15px 0 20px 0;
    text-align: center;
    color: rgb(99, 136, 216);
}
.nav li {
    display: inline;
    padding: 0 20px;
    margin: 15px 0 15px 0;
}
h1 {
    padding: 20px 20px 20px 20px;
    color: rgb(99, 136, 216);
    margin: 15px 0 15px 0;
}
p {
    padding: 10px;
    margin: 15px 0 15px 0;
    text-align: center;
    background-color: #ffffff;
    
}